{{template "base" .}}


{{ define "content" }}

<div class="container">
    <div class="row">
        This is the Home Page
    </div>
</div>

<img src="/static/images/house.jpg" height="300" width="400" class="img-fluid">

{{end}}